@use "../../responsive.scss" as r;
@use "sass:color";

.homePage {
    display: flex;
    /* BADLAO: height ki jagah min-height use karein */
    min-height: 100%; 

    .textContainer {
        flex: 3;

        .wrapper {
            padding-left: 100px;
            padding-right: 100px; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 50px;
            /* BADLAO: Fixed height hata di taake content expand ho sake */
            min-height: calc(100vh - 100px); 

            @include r.md {
                padding: 0 20px; 
            }

            @include r.sm {
                justify-content: center; 
                padding: 40px 20px;
                gap: 30px; 
            }

            .tittle {
                font-size: 64px;
                font-weight: bold;

                @include r.lg {
                    font-size: 48px;
                }

                @include r.md {
                    font-size: 40px;
                }

                @include r.sm {
                    font-size: 32px; 
                }
            }

            p {
                @include r.sm {
                    font-size: 16px;
                }
            }

            .boxes {
                display: flex;
                justify-content: space-between;

                @include r.sm {
                    display: none; 
                }

                h1 {
                    font-size: 36px;

                    @include r.lg {
                        font-size: 32px;
                    }
                }

                h2 {
                    font-size: 20px;
                    font-weight: 300;
                }
            }
        }
    }

    .imgContainer {
        flex: 2;
        background-color: #fcf5f3;
        position: relative;
        display: flex;
        align-items: center;

        @include r.md {
            display: none; 
        }

        img {
            width: 115%;
            position: absolute;
            right: 0;

            @include r.lg {
                width: 105%;
            }
        }
    }
}
