@use './responsive.scss' as r;

.layout{
  background-color: black; // Sirf check karne ke liye ke CSS chal rahi hai ya nahi
  max-width: 1366px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;

  
  @include r.lg{
    background-color: brown;
    max-width: 1280px;
  }
  
  @include r.md{
    background-color: green;
    max-width: 768px;
  }

  @include r.sm{
    background-color: blue;
    max-width: 640px;
  }
}